#tetrisGrid {
	-fx-background-color: white;
}

#scoreboard {
	-fx-border-width: 0 0 0 2;
	-fx-border-color: black;
    -fx-border-style: solid;
   	-fx-background-color: white;
}

.o {
	-fx-fill: CRIMSON;
}

.l {
	-fx-fill: GOLDENROD;
}

.z {
	-fx-fill: FORESTGREEN;
}

.i {
	-fx-fill: DODGERBLUE;
}

.t{
	-fx-fill: PURPLE;
}

#cntrl {
	-fx-background-color: white;
}
